<Page::Header @title="Dashboard" />
<Page::Content>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="cart-title">
            At a glance
          </h5>
          <div class="d-flex py-3 justify-content-around">
            <div>
              <h2>{{customers.length}}</h2>
              <p>Customers in pipeline</p>
            </div>
            <div>
              <h2>${{this.totalBudget}}</h2>
              <p>Total forecasted budget</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="cart-title">
            Top prospects
          </h5>
          <DashboardTable @model={{this.customers}} />
        </div>
      </div>
    </div>
  </div>
</Page::Content>